.background {
    padding: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100vw - 200px);
    height: calc(100vh - 200px);
    background: linear-gradient(150deg, #d9dbe2, #808aac 100%, #282d39 0);
  }
  
  .auth-container {
    width: 40vw;
    height: 50vh;
    position: relative;
    top: calc(50vh - 220px - 100px);
    left: calc(50vw - 420px - 100px);
    background: rgb(219, 10, 97);
    border-radius: 24px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
  }
  
  .auth-form {
    padding-top: 33px;
    width: 60%;
    margin-left: 20%;
    background: rgb(219, 10, 97);
  }
  
  .auth-title {
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size:5vmin;
    
  }
  
  .text-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 24px;
    background: rgb(219, 10, 97);
    outline: none;
    border-width: 0px;
    border-bottom: 2px solid #000000;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-size:2.5vmin;
  }
  
  .text-input::placeholder {
    color: hsla(0, 0%, 0%, 0.568);
    background: rgb(219, 10, 97);
    font-size:2vmin;
  }
  
  .submit-button {
    width: 100%;
    padding: 14px;
    border-radius: 20px;
    border-width: 2px;
    cursor: pointer;
    background: rgb(219, 10, 97);
    color: rgb(0, 0, 0);
    outline: none;
    font-size:2.5vmin;
    margin-top: 40px;
  }
  
  .submit-button::hover {
    background-color: #938ffe;
  }

  @media only screen and (max-width:768px){

    .background{
     
    
      background: linear-gradient(150deg, #d9dbe2, #000000 100%, #201f1f 0);
    }

    .auth-container{
      top: calc(50vh - 200px - 100px);
      left: calc(50vw - 145px - 102px);
      width:130vw;
      background: rgb(219, 10, 97);
      border-radius: 80px;
    }

    .auth-form {
      padding-top: 33px;
      width: 60%;
      margin-left: 20%;
      background: rgb(219, 10, 97);
      margin-top: 0px;
    }

    .auth-title {
      padding-bottom: 20px;
      width: 100%;
      text-align: center;
      color: rgb(0, 0, 0);
      font-size: 10vmin;
      margin-top: 10px;
    }

    .text-input {
      width: 100%;
      padding: 8px;
      margin-bottom: 24px;
      background: rgb(219, 10, 97);
      outline: none;
      border-width: 0px;
      border-bottom: 2px solid #000000;
      color: rgb(0, 0, 0);
      margin-top:15px;
    }

    

    
    .text-input::placeholder {
      color: hsla(0, 0%, 0%, 0.568);
      font-size:4vmin;
    }

    .submit-button {
      width: 100%;
      padding: 20px;
      border-radius: 20px;
      border-width: 2px;
      cursor: pointer;
      background: rgb(219, 10, 97);
      font-size: 5vmin;
      color: rgb(0, 0, 0);
      outline: none;
      margin-top:35px;
    }

  }
  